<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>mangonote</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/dashboard.css">
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
  <script src="js/angular.min.js"></script>
  <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body ng-app="myApp"  ng-controller="SidebarCtrl">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

    <!--EDIT TITLE HERE-->
    <div ng-hide="editorEnabled">
      <a class="navbar-brand" href="#" ng-click="enableEditor()">{{title}}</a>
      <a href="#" ng-click="enableEditor()"></a>
   </div>

    <div ng-show="editorEnabled">
      <form class="navbar-form" ng-enter="save"><input class="form-control" ng-model="editableTitle" ng-show="editorEnabled" type="text">
      <a href="#" ng-click="save()"><span class="glyphicon glyphicon-ok"></span></a>
      <a href="#" ng-click="disableEditor()"><span class="glyphicon glyphicon-remove"></span></a></form>
    </div>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
			    <button class="btn btn-link navbar-btn" ng-click="save_note_handler()">Save</button>
			<li>
				<br>
			<li>
			    <form action="#">
			        <button class="btn btn-link navbar-btn">Load</button>
			    </form>
			</li>
          </ul>
        </div>
      </div>
    </div>
 
<div class="container-fluid">
	<div class="row">
	  <div class="col-sm-3 col-md-2 sidebar" ng-model-instant>
		<ul class="nav nav-sidebar" id="myTab" dnd-list="sidebars">
		  <!--<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>-->
		  <li ng-repeat="bar in sidebars">
			  <a href="#{{bar.href}}" data-toggle="tab" class="{{bar.class}}" ng-click="set_active($index)">{{bar.title}}</a>
			  
		  </li>
		</ul>
		<button class="btn btn-default" data-toggle="modal" data-target="#myModal">
			<span class="glyphicon glyphicon-plus"></span> Add Section
		</button>
	  </div>

	</div> <!--End Row-->    

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	  <div class="tab-content" ng-model-instant>
		  
		  <!--<div class="tab-pane active" id="overview">
			  <h1 class="page-header">Overview</h1>
		  </div>-->
		  <div ng-repeat="bar in sidebars" class="tab-pane {{bar.class}}" id="{{bar.href}}" ng-init="sectionIndex = $index">
			  <h1 class="page-header"><span contentEditable="true" ng-model="bar.title">{{bar.title}}</span>
			  
			  <div class="btn-group">
			    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			      Add Content <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu">
			      <li><a href="#" ng-click="addText($index)">Text</a></li>
				  <li><a href="#" ng-click="addImage($index)">Image</a></li>
				  <li><a href="#" ng-click="addTable($index)">Table</a></li>
				  <li class="divider"></li>
			      <li><a href="#" ng-click="recordId($index)">d3 bar graph</a></li>
			      <li><a href="#" ng-click="recordId($index)">d3 brush chart </a></li>
			      <li><a href="#" ng-click="recordId($index)">d3 chord diagram</a></li>
				  <li class="divider"></li>
				  <li><a href="#" ng-click="addipynb($index)">iPython Notebook</a></li>
			    </ul>
			  </div>
			  <button class="btn btn-danger pull-right" ng-click=deleteSection($index)>Delete</button>
			  <!--<button class="btn btn-primary" ng-click="recordId($index)">Add Content</button>-->
			  
			  </h1>
			  <!--TODO: Right now, content is just a text. But lets make it a list of dicts
			  Then, we add another ng-repeat, with a conditional statement: if b.type == "text"
			  then add a div with our contentEditable. If its an iPython notebook, add a directive
			  for the IPython notebook render. If its a d3 thing, add a directive w/ the appropriate
			  d3 template! (The d3 stuff can have a templateUrl so neeraj can drop in d3 templates!)
			   -->
			<div dnd-div="bar.content">
			  <div ng-repeat="li in bar.content track by $index" ng-model-instant>
				  <div ng-mouseover="showtrash=true" ng-mouseout="showtrash=false">
					  <a href="#" ng-click="remove($parent.$index,$index)">
						  <span class="glyphicon glyphicon-trash pull-right" ng-show="showtrash"></span>
					  </a>
					  <div ng-if="li.type=='text'" ng-model="li.text" class='iiMdPreview' text="{{li.text}}">
					  </div>
					  <image-dir ng-if="li.type=='image'" ng-model="li.data"
					   name="image_{{sectionIndex}}_{{$index}}">
					  </image-dir>
					  <tabler ng-if="li.type=='table'" ng-model="li.data" name="table_{{sectionIndex}}_{{$index}}">
					  </tabler>
					  <ipynb ng-if="li.type=='ipynb'" ng-model="li.info" name="ipynb_{{sectionIndex}}_{{$index}}">
					  </ipynb>
				  </div>
                 
			  </div>
		    </div>
		  </div> <!--  ng-repeat: bar in sidebars  -->
      
	  </div> <!--tab content-->

  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Add Section</h4>
        </div>
        <div class="modal-body">
          <input class="form-control" ng-model="sectionName" type="text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="addSection()" data-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
  </div>

</div>


<script src="js/marked.js"></script>
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script src="js/markdown_preview.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/elastic.js"></script>
<script src="js/xeditable.min.js"></script>
<script src="js/table.js"></script>
<script src="js/ipynbAdd.js"></script>
<script src="js/app.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> 
<script src="https://lucius-c-smith-diaries.googlecode.com/svn-history/r330/trunk/LCSmith-HTML-CSS/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/bootstrap.js"></script>

<script>
// Synchronous highlighting with highlight.js
marked.setOptions({
  highlight: function (code) {
	  console.log("in highlight")
    return hljs.highlightAuto(code).value;
  }
});
</script>

</body>
</html>
