<div>
	<!-- Modal -->

	<div class="modal fade" id="{{name}}" tabindex="-1" role="dialog" aria-labelledby="{{name}}Label" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Add Image</h4>
	      </div>
	      <div class="modal-body">
			  
			Upload:  
              <input type="file" ng-model-instant id="fileToUpload" name="{{name}}Upload" onchange="angular.element(this).scope().setFiles(this)" />
			  
			Link:
			<input type="text" class="form-control" id="{{name}}URL" text="{{data}}" ng-model="data_tmp"/>
	      </div>
	      <div class="modal-footer">
			  
  			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="exist_uri=true;data=data_tmp">Add Link</button>
			<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="exist_uri=true;data=data_upload">Upload File</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="exist_uri=true">Cancel</button>
	        
	      </div>
	    </div>
	  </div>
	</div>

		<div ng-show='exist_uri'><img ng-src="{{data}}" class="img-responsive"></div>
</div>